@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo&family=Montserrat:wght@200&display=swap');
body{
    margin: 0;
    font-family: 'Montserrat', sans-serif; 
}

.wrapper{
    max-width: 960px;
    margin: 0 auto;
}

h1{
    margin: 40px auto;
    text-align: center;
}

footer {
    margin: 0 auto;
    margin-top: 150px;
    width: 500px;

}

.form {
   
    max-width: 960px;
    border : 1px solid #e1e1e1;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
}

#form__title {
    padding: 20px;
    font-family: 'Chivo', sans-serif;
    font-size: 1.2em;
    font-weight: 700;
}

.form__label {
    display: block;
    bottom: 70%;
    right:45.5%;
    font-weight: 600;
}

.form__input, select {
    display: block;
    padding: 10px 20px;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
      
}

.form__submit {
    margin: 0 220px;
    padding: 10px;
    background: #616CD3;
    color: white;
    border:none;
    border-radius: 8px;
}

.field {
    display: inline-block;
    margin: 0 20px;
    margin-bottom: 30px;
}